/* This applies from 0px to 768 */

/* This applies from 768px onwards */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero {
        position: relative;
        padding: 0 50px;
        width: 100vw;
    }
    
    .hero .hero__images {
        display: flex;
        height: calc(100vh - 150px);
        transition: all .3s ease-in-out;
    }

    .hero .hero__images:hover { 
        transform: translate3d(-100%, 0, 0);
    }

    .hero__images .hero__image {
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
        width: 100%;
        /* object-fit: cover; */
        /* object-position: center; */
    }

    .hero__image .hero__info {
        position: absolute;
        top: 20%;
        left: 10%;
        /* color: var(--blanco); */
        font-size: 4rem;
        background-color: var(--transparent-dark2);
        padding: 20px;
    }
    
    .hero__info .hero__subtitle {
        font-size: 1.2rem;
        color: var(--blanco);
    }

    .hero__info .hero__title {
        font-size: 3rem;
        font-weight: 700;
        width: 310px;
        color: var(--blanco);
    }

    .hero__info .hero__info-link {
        font-size: 1.4rem;
        color: var(--blanco);
        cursor: pointer;
    }

    .hero .hero__indicator {
        position: absolute;
        background-color: var(--blanco);
        bottom: 0;
        right: 50px;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 1.5rem;
    }

    .hero .hero__indicator .hero__indicator-item {
           
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hero__indicator-item .hero__indicator-number {
        color: var(--themecolor1);
        font-size: var(--font-size-900);
        font-weight: 700;
        padding-right: 1.5rem;
    }

    .hero__indicator-item .hero__indicator-text {
        /* font-weight: 700; */
        display: flex;
        width: 60px;
        line-height: 1.1rem;
        align-items: center;
        /* justify-content: center; */
        /* margin-right: 1.5rem; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}