/* This applies from 0px to 768 */

/* This applies from 768px onwards */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .listing__content-area {
        --column-count: 2;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(var(--column-count), 1fr);
    }
    .listing__gallery .listing__thumbnails {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .listing__thumbnails .listing__thumb-image {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {} 