@import url('reset.css');
@import url('welcome-header.css');
@import url('breadcrumb.css');
@import url('listings-filter.css');
@import url('listings.css');
@import url('welcome.css');

:root {
    --themecolor1: hsl(263, 45%, 56%);
    --themecolor2: hsl(214, 65%, 50%);
    --themecolor3: hsl(211, 100%, 50%);
    --themecolor4: hsl(210, 7%, 46%);
    --themecolor5: hsl(0, 88%, 67%);
    --themecolor6: hsl(0, 0%, 95%);
    --themecolor7: hsl(295, 100%, 40%);
    --rojo: hsl(0, 100%, 50%);
    --naranja: hsl(39, 100%, 50%);
    --amarillo: hsl(60, 100%, 50%);
    --verde: hsl(144, 100%, 28%);
    --indigo: hsl(275, 100%, 25%);
    --violeta: hsl(264, 53%, 33%);
    --blanco: hsl(180, 100%, 100%);
    --negro: hsl(0, 0%, 0%);
    --testcolor: hsl(330, 100%, 71%);

    /* font sizes */
    --font-size-300: 0.75rem; /* 12px */
    --font-size-400: 1rem;    /* 16px, base */
    --font-size-500: 1.25rem; /* 20px */
    --font-size-600: 1.5rem;  /* 24px */
    --font-size-700: 1.75rem; /* 28px */
    --font-size-800: 2rem;    /* 32px */
    --font-size-900: 2.25rem; /* 36px */
    --fs-9000: clamp(3.5rem, 12vw + 1rem, 5rem);
  

    /* column count */
    --column-count-one: 1;
    --column-count-two: 2;
    --column-count-three: 3;
    --column-count-four: 4;
    --column-count-five: 5;
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--blanco);
}


.danger-message {
    background-color: #FF7F7F;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.success-message {
    background-color: #90EE90;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.invisible {
    display: none;
}

/* This applies from 0px to 768 */
.container {
    max-width: 100%;
    margin: 0 auto;
}
/* This applies from 768px onwards */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}