/* This applies from 0px to 768 */
.landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

}
.welcome {
    padding: 0 20px;
}

.welcome__trending .welcome__search {
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid var(--negro);
    margin: 20px 0;
}

.welcome__trending .flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__tags {
    display: grid;
    gap: 1rem;
    /* background-color: var(--themecolor5); */
    grid-template-columns: repeat(4, 1fr);
}

.welcome__tags .welcome__tag {
    border: 1px solid var(--themecolor1);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-300);
}

/* This applies from 768px onwards */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .welcome .welcome__heading {
        color: var(--blanco);
        text-align: center;
        text-transform: capitalize;
        font-size: var(--font-size-900);
        font-weight: 700;
        line-height: 3rem;

    }
    .welcome__trending .welcome__search {
        width: 100%;
        font-size: 2rem;
        border-radius: 5px;
        border: 1px solid var(--negro);
    }

    .welcome .welcome__trending {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .welcome__filter {
        display: grid;
        gap: 0.3rem;
        grid-template-columns: repeat(7, 1fr);    
        padding: 30px 0;
    }

    .welcome__filter .form-group {
        display: grid;
        gap: 0.4rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .welcome__trending .welcome__title {
        font-size: var(--font-size-600);
        color: var(--negro);
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
    }

    .welcome__query-grid {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 150px;
    }

    .welcome__makes {
        --padding-value: 30px;
        border: 1px solid var(--negro);
        padding: 10px var(--padding-value) var(--padding-value) var(--padding-value);
        border-radius: 5px;
    }

    .welcome__makes .welcome__title {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .welcome__makes .welcome__makes-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .welcome__makes-grid li {
        text-align: center;
    }

    .welcome__body-types {
        --padding-value: 30px;
        border: 1px solid var(--negro);
        padding: 10px var(--padding-value) var(--padding-value) var(--padding-value);
        border-radius: 5px;
    }

    .welcome__body-types .welcome__title {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .welcome__body-types .welcome__body-types-grid {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .welcome__body-types-grid li {
        text-align: center;
    }

    .welcome__tags {
        text-align: center;
    }

    .welcome__tags .welcome__tag {
        padding: 10px 20px;
        border-radius: 5px;
        color: var(--themecolor1);
        border: 1px solid var(--themecolor1);
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 20px;
        transition: all .3s ease-in-out;
    }

    .welcome__tags .welcome__tag:hover {
        background-color: var(--themecolor1);
        color: var(--blanco);
        font-weight: 600;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}