/* This applies from 0px to 768 */
.landing {
    --alpha: .6;
    background-image: linear-gradient(to left, rgba(132, 94, 194, var(--alpha)), rgba(116, 100, 200, var(--alpha)), rgba(97, 105, 205, var(--alpha)), rgba(75, 110, 208, var(--alpha)), rgba(44, 115, 210, var(--alpha))), url("../../images/pexels-erik-mclean-18038898.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

}
.welcome {
    padding: 0 20px;
}

.welcome__trending .welcome__search {
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid var(--negro);
    margin: 20px 0;
}

.welcome__tags .welcome__tag {

}

/* This applies from 768px onwards */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .welcome .welcome__heading {
        color: var(--blanco);
        text-align: center;
        text-transform: capitalize;
        font-size: var(--font-size-900);
        font-weight: 700;
        line-height: 3rem;

    }
    .welcome__trending .welcome__search {
        width: 100%;
        font-size: 2rem;
        border-radius: 5px;
        border: 1px solid var(--negro);
    }

    .welcome .welcome__trending {
        max-width: 800px;
        margin: 0 auto;
    }

    .welcome__trending .welcome__title {
        font-size: var(--font-size-600);
        color: var(--blanco);
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
    }

    .welcome__tags {
        text-align: center;
    }

    .welcome__tags .welcome__tag {
        padding: 10px 20px;
        border-radius: 45px;
        color: var(--blanco);
        border: 1px solid var(--blanco);
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 20px;
        transition: all .3s ease-in-out;
    }

    .welcome__tags .welcome__tag:hover {
        background-color: var(--blanco);
        color: var(--themecolor1);
        font-weight: 600;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}